<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=bizcochitos;AccountKey=XCBUyPB6Tk+aoKvSCpZ8IMlC73wfBrncEMuF6XSD93g5EOV4ABENX1d4n+hqCn0dPVor8cGyPUJJj7EoW+M6PQ==;EndpointSuffix=core.windows.net"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>